.top-bread {
  margin: 0 auto;
  width: 350px;
  height: 50px;
  background: #d8c4aa;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
